@import "compass/reset";
@import "compass/css3";
@import "reset";
@import "mixin";
@import "partial/tip";
@import "partial/frame";
@import "partial/frame1";
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@include font-face("refinery29");
@include font-face("BrownStd-Bold");
@include font-face("BrownStd-Regular");
@include font-face("PlayfairDisplay-Bold");

body,
html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    background-color: #f1f1f1;
}

section {
    overflow: hidden;
    width: 100%;
    max-width: 1520px;
    margin: 0 auto;
}

.Montserrat {
    font-family: 'Montserrat', sans-serif;
}

.content-middle {

}
@keyframes ani-down {
    50% {
        @include transform(translateY(20px));
    }
}
