.frame1 {
    .obiWan {
        position: absolute;
        width: 256px;
        right: 0;
        top: 10%;

        .talkbubble {
            width: 300px;
            min-height: 80px;
            background: #fff;
            position: absolute;
            @include border-radius(40px);
            right: 100%;
            bottom: 89%;
            @include transform(scale(0,0));
            @include transform-origin(100%,100%);

            .words {
                position: relative;
                width: calc(100% - 80px);
                height: 100%;
                margin: 0 auto;
                text-align: justify;
                opacity: 0;

                span {
                    display: inline-block;
                    font-family: 'Montserrat', sans-serif;
                    color: #000;
                    font-size: 14px;
                    line-height: 20px;
                }
            }

            &:before {
                content: "";
                position: absolute;
                left: auto;
                top: auto;
                right: 20px;
                bottom: -12px;
                width: 0;
                height: 0;
                border-top: 13px solid transparent;
                border-left: 26px solid #fff;
                border-bottom: 13px solid transparent;
                @include transform(rotate(45deg));
            }
        }
    }

    .door-wrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        text-align: center;

        &:before {
            content: "";
            display: inline-block;
            width: 0;
            height: 100%;
            vertical-align: middle;
        }

        .door-list {
            position: relative;
            display: inline-block;
            width: 81%;
            text-align: center;
            vertical-align: middle;

            .door-item {
                position: relative;
                display: inline-block;
                width: 30%;
                max-width: 250px;

                &:nth-child(2) {
                    margin: 0 5%;
                }

                .arrow-down {
                    position: absolute;
                    left: 42.5%;
                    // top: -20%;
                    bottom: 120%;
                    width: 20%;
                    opacity: 0;
                    @include transition(opacity 0.3s linear);
                }

                .cross-red {
                    position: absolute;
                    top: 0;
                    width: 16%;
                    left: 42%;
                    z-index: 2;
                    opacity: 0;
                    @include transition(opacity 0.3s linear);
                }

                .door {
                    position: relative;
                    width: 100%;
                    cursor: pointer;
                    z-index: 1;
                }

                &.active,
                &.selected {
                    .arrow-down {
                        opacity: 1;
                        animation: ani-down 0.8s linear infinite;
                    }
                }

                &.unselected {
                    .cross-red {
                        opacity: 1;
                    }
                }
            }
        }
    }
}
