.content-top {
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;

    width: 100%;
    height: 50px;

    background-color: white;

    @include transition(opacity 0.5s linear 0.3s);
    @include box-shadow(rgba(0,0,0,0.08) 0px 10px 15px -10px);
    @include display-flex(flex);
    @include justify-content(space-between);
    @include align-items(center);
    .logo {
        width: 150px;
        margin-left: 30px;

        cursor: pointer;
    }
    .social-wrapper {
        margin-right: 30px;

        $color1: black;
        $color2: white;

        .share {
            display: inline-block;

            width: 29px;
            height: 29px;
            margin: 0 5px;

            cursor: pointer;
            text-align: center;

            color: $color1;
            border: 2px solid $color1;
            background-color: $color2;

            font-family: "refinery29";
            font-size: 14px;
            line-height: 25px;

            @include border-radius(100%);
            @include transition(background-color 0.3s ease, color 0.3s ease);
            .no-touch &:hover {
                color: $color2;
                background-color: $color1;
            }
        }
    }
}
.mobile {
    .content-top {
        .logo {
            margin-left: 20px;
        }
        .social-wrapper {
            margin-right: 20px;
            .share {
                margin: 0 3px;
            }
        }
    }
}
